.SubredditsSection {
    border: 1px solid #343536;
    border-radius: 4px;
    width: 25%;
    max-width: 100%;
    /* margin-right: 10rem; */
    max-height: 70vh;
    position: sticky;
    top: 155px;
    background-color: #0B1416;
    overflow-y: auto;
    overscroll-behavior: contain;
}

.SubredditsSection::-webkit-scrollbar {
    background: #0B1416;
    width: 0.5rem;
}

.SubredditsSection::-webkit-scrollbar-thumb {
    background: #343536;
}

