.Subreddit {
    text-align: left;
    max-width: 100%;
    padding: 0.25rem 2rem;
}

.Subreddit:hover {
    background-color: #1A282D;
    cursor: pointer;
}

.SelectedSubreddit {
    background-color: #1A282D;
    text-align: left;
    max-width: 100%;
    padding: 0.25rem 2rem;
}