.SearchBar {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border-radius: 1rem;
    padding: 0.25rem 1rem;
    background-color: #1A282D;
}

.SearchBarInput {
    width: 60%;
    padding: 0.25rem 1rem;
    border: none;
    background-color: #1A282D;
    color: #b8c5c9;
}

.SearchBarInput:focus {
    outline: none;
}

.SearchBarIcon {
    color: #b8c5c9;
}

::placeholder {
    color: #b8c5c9;
}