.App {
  text-align: center;
}

.Header {
  display: flex;
  position: sticky;
  z-index: 1;
  top: 0;
  gap: 10rem;
  align-items: center;
  margin-top: -1rem;
  margin-left: -1rem;
  margin-bottom: 5rem;
  background-color: #0B1416;
  border-bottom: 0.1px solid #343536;
}

.HeaderMain {
  display: flex;
  gap: 0.3rem;
}

.HeaderMainLogo {
  width: 6.5%;
  margin-left: 2rem;
}

.redditTitle {
  color: #ff4500;
}

.HeaderSearchBar {
  width: 50rem;
  margin-left: -7rem;
}

.Main {
  display: flex;
}