@font-face {
  font-family: 'RedditSansLight';
  src: url("./fonts/RedditSans-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'RedditSansRegular';
  src: url("./fonts/RedditSans-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'RedditSansBold';
  src: url("./fonts/RedditSans-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

* {
  /* margin: 0; */
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "RedditSansRegular", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 100%;
  width: 100%;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
